body {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    .container{
        display: flex;
        justify-content: space-between;
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    .menu-list-item{
        list-style: none;
        .menu-list-link{
            color: black;
            text-decoration: none;
        }
        
    }
}

#notesBlock {
    background-color: aliceblue;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
}

.note {
    border: 2px solid;
    margin-bottom: 5px;
    padding: 5px;
}

.textarea {
    resize: none;
}
